input {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
}
.ng-touched.ng-invalid:not(form) {
  border: 2px solid red;
}

.ng-touched.ng-valid:not(form) {
  border: 2px solid green;
}

