.container {
    display: flex;
    height: 100vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.top-div {
    flex-grow: 1;
}

.main-left-div {
    height: 80%;
}

.right-div {
    width: 30%;
    height: 100vh;
}