<b>{{ 1200.99 | currency: 'CAD': 'symbol':'1.2-2':'en-CA' }}</b> | (Padrão do Canadá)
<br>
<b>{{ 1200.99 | currency: 'CAD': 'code':'1.2-2':'en-CA' }}</b> | (Padrão do Canadá)
<br>
<b>{{ 1200.99 | currency: 'CAD': 'symbol-narrow':'1.2-2':'en-CA' }}</b> | (Padrão do Canadá)
<br>
<b>{{ 1200.99 | currency: 'CAD': 'PERSONALIZADO -> ':'1.2-2':'en-CA' }}</b> | (Padrão do Canadá)
<hr>
<b>{{ 1200.99 | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</b> | (Padrão BR)
<hr>
<b>{{ 100.99 | currency: 'BRL' }}</b> | (Padrão BR)
<hr>
<b>{{ 1050.99 | currency: 'USD': 'symbol':'1.2-2':'en-US' }}</b> | (Padrão US)
<hr>
<b>{{ 12334.99 | currency }}</b>