.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    & .dialog-close-btn {
        margin-right: 6px;
    }
}

.infos {

    &__row{
        width: 100%;
        display: flex;
    }

    &__item{
        width: 50%;
        padding: 10px;
        background-color: #d9d9d9;
    }

    &__header{
        background-color: #000;
        color: #fff;
        text-align: center;

        &--border-top-left {
            border-top-left-radius: 4px;
        }

        &--border-top-right {
            border-top-right-radius: 4px;
        }
    }

    &__row &__item:not(&__header):nth-child(2) {
        border-left: 1px solid #fff;
    }
}