<div class="dialog-header">
  <h2 mat-dialog-title>Resumo das alterações</h2>
  <button mat-icon-button mat-dialog-close class="dialog-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="mat-typography">
  <div class="infos">
    <div class="infos__row">
        <div class="infos__item infos__header infos__header--border-top-left">Antes</div>
        <div class="infos__item infos__header infos__header--border-top-right">Depois</div>
    </div>
    <div class="infos__row">
        <div class="infos__item"><strong>Nome:</strong> Jhon Doe</div>
        <div class="infos__item"><strong>Nome:</strong> Jhon Doe Alterado</div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Fechar</button>
  <button mat-raised-button color="primary">Confirmar</button>
</div>
