/** Prefixo ca (Curso Angular) - Prefixo c (Componente) - Nome da classe
* Exemplo: ca-c-card (Curso Angular - Componente - Card)
* Dica a ser seguida para nomenclatura de classes CSS no projetos Angular
* Utilizando o padrão BEM (Block Element Modifier)
* Desse forma podemos diferenciar as classes Globais das classes locais de Componentes
*/
.ca-c-card {
  border: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;

  &__header {
    display: block;
    padding: 15px;
    background-color: rgb(233, 129, 50);

    &[color='blue'] {
      background-color: rgb(164, 249, 239);
    }

    &[color='red'] {
      background-color: rgb(249, 164, 164);
    }

    &[color='green'] {
      background-color: rgb(164, 249, 178);
    }

    &[color='yellow'] {
      background-color: rgb(249, 247, 164);
    }

    // Modificador é utilizado para variações de estilos dentro do mesmo componente
    &--bg-blue {
      background-color: #32e9da;
    }
  }

  &__content {
    display: block;
    padding: 15px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
  }
}
