<!-- Temos o *ngIf que já está em desuso, mas ainda funciona.
 é comum ver ele em códigos legados, mas o recomendado é usar o ngIf sem o asterisco.
 OBS: Para usar o ngIf, precisamos importar o CommonModule no app-module.ts 
-->
<div style="background: green;" *ngIf="minhaProp">Sou uma div</div> <br>

<div style="background: green;" *ngIf="false; else meuTemplate">
  Sou uma div
</div>
<br>
<ng-template #meuTemplate>
  <div style="width: 40px; height: 40px; background: purple">
    Teste
  </div>
</ng-template>


<!-- A nova syntax do Angular que substitui o *ngIf
  é o @if. Ela é mais clara e fácil de entender.
  OBS: O @if não usa o asterisco e é seguido por parênteses.
  OBS: Para usar o @if, precisamos importar o CommonModule no app-module.ts
-->
@if ( isTrufy() ) {
<div style="background: green;">Sou uma div</div>
}

@if ( isFalsy() ) {
<div style="background: green;">Sou uma div</div>
}@else {
<br>
<div style="width: 40px; height: 40px; background: red">
  Teste
</div>
}

<br>

<button (click)="toggleProp()">Toggle Prop</button>

<br>

<ng-container *ngIf="minhaProp">
  <div style="border: 2px solid blue; padding: 10px; margin-top: 10px; width: 200px; height: 100px">
    <div style="background: green;">Título</div>
    <p>Algum texto explicativo</p>
    <button>Ação</button>
  </div>
</ng-container>

<br>

<!-- Diferenças do Display: none vs Visibility: hidden -->
<div style="border: 2px solid red; padding: 10px; margin-top: 10px;">
  <h4>Display: none</h4>
  <p>O elemento não é exibido na página e não ocupa espaço.</p>
  <div style="display: none;">Teste1</div>
</div>

<div style="border: 2px solid blue; padding: 10px; margin-top: 10px;">
  <h4>Visibility: hidden</h4>
  <p>O elemento não é exibido, mas ainda ocupa espaço na página.</p>
  <div style="visibility: hidden;">Teste2</div>
</div>
<br>