.user-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    margin: 0 auto;
    background-color: lightcoral;
}
.user-card {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.user-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.button {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.mt-20 {
    margin-top: 20px;
}

.user-card-img img {
    width: 50px;
    height: 50px;
}