.container {
    padding: 16px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__item {
        flex: 1 1 auto;
        min-width: 0;
    }

    &__item-100 {
        width: 100%;
    }

    &__item-50 {
        width: minmax(250px, calc(50% - 0.5rem));
    }

    &__musics {
        width: 100%;
        padding: 20px;
    }

    &__musics-title {
        padding: 20px;
    }
}