<div class="container">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" [formControl]="nome"
        (input)="inputAlterado()"
        placeholder="Digite seu nome" />
        
        @if (nome.invalid && (nome.dirty || nome.touched)) {
            <div class="erros-mensagem">
                @if (nome.hasError('required')) { <span>O nome é obrigatório.</span> }
                @if (nome.hasError('minlength') && !nome.hasError('required')) { <span>O nome deve ter pelo menos 3 caracteres.</span> }
                @if (nome.hasError('maxlength') && !nome.hasError('required')) { <span>O nome não pode ter mais de 14 caracteres.</span> }
                @if (nome.hasError('invalidText') && !nome.hasError('required')) { 
                    <span>
                        O nome não pode conter o texto "teste".{{ nome.getError('invalidText') }}
                    </span> }
            </div>
        }
    </div>

    <div class="footer">
        <p>Valor do nome: {{ nome.value }}</p>
        <p>Valor Valido: {{ nome.valid }}</p>
        <button class="btn" type="button" (click)="mostrarStatus()">Status</button>
        <button class="btn" type="button" (click)="alterarValor()">Alterar Valor</button>
        <button class="btn" type="button" (click)="desabilitar()">Desabilitar</button>
        <button class="btn" type="button" (click)="habilitar()">Habilitar</button>
        <button class="btn" type="button" (click)="setarValor()">Setar Valor</button>
        <button class="btn" type="button" (click)="resetar()">Resetar</button>
        <button class="btn" type="button" (click)="debugConsole()">Debug</button>
        <button class="btn" type="button" (click)="setValidators()">Set Validators</button>
        <button class="btn" type="button" (click)="addValidators()">Add Validators</button>
    </div>
</div>