.user-list {
    width: 100%;
    border: 1px solid lightgreen;

    & table {
        width: 100%;
    }

    &__item {
        cursor: pointer;
    }
}

.no-results {
    padding: 20px;
    font-size: 16px;
    color: #ff0000;
    text-align: center;
    background-color: #fff;
}