.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cards-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  background: rgb(203, 217, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

  &__title {
    background-color: transparent;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__description {
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
}
