button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    scale: 1;
    cursor: pointer;

    &:active {
        scale: 0.95;
    }
}

button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}