<!-- Sintaxe que será descontinuada, mas bastante utilizada
 em projetos legados. 
 -->
<div class="list">
  <div class="item"
    *ngFor="let person of listPeople; let i = index; let isOdd = odd; let isEven = even; let isFirst = first; let isLast = last"
    [class.item--highlighted]="personSelectIndex === i" [class.item--odd]="isOdd" [class.item--even]="isEven"
    [class.item--first]="isFirst" [class.item--last]="isLast"
    (click)="selectPerson(i)">
    <p class="item__name">{{ i }} - {{ person.nome }}</p>
    <p class="item__age">{{ person.idade }} anos</p>
  </div>
</div>

<br><br>

<!-- Nova Sintaxe do Angular 17+ -->
<!-- 
@for (person of listPeople; track person.nome; let i = $index; let isOdd = $odd; let isEven = $even; let isFirst = $first; let isLast = $last) {
  <div class="item" 
  [class.item--highlighted]="personSelectIndex === i" 
  [class.item--odd]="isOdd" 
  [class.item--even]="isEven"
  [class.item--first]="isFirst" 
  [class.item--last]="isLast" 
  (click)="selectPerson(i)">
    <p class="item__name">{{ i }} - {{ person.nome }}</p>
    <p class="item__age">{{ person.idade }} anos</p>
  </div>
} @empty {
  <p>Nenhuma pessoa encontrada</p>
} 
-->