// Fonte Popes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

// Prefico (Curos-angular) - Utils - Nome da Classe
.ca-u-card-text-title {
  font-weight: 500;
  font-size: 25px;
  display: block;
}

.ca-u-card-text-subtitle {
  font-weight: 200;
  font-size: 16px;
  display: block;
}

.ca-u-card-text-description {
  font-weight: 300;
  font-size: 20px;
  display: block;
}
