* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    display: block;
    margin-bottom: 4px;
}
input {
    font-size: 16px;
    padding: 8px 12px;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.text-worning {
    color: #ffc107;
}