// Tags globais para estilos

.u-text-align-center {
    text-align: center;
}

.u-text-bold {
    font-weight: bold;
}

.u-text-italic {
    font-style: italic;
}

.u-text-uppercase {
    text-transform: uppercase;
}
