<mat-list role="list" id="user-details-list">
    <mat-list-item class="title-detail-user">Detalhes do Usuário</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <span class="detail-label">Nome:</span><span>Fulano</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <span class="detail-label">Email:</span><span>fulano@example.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <span class="detail-label">Telefone:</span><span>(11) 99999-9999</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <span class="detail-label">Endereço:</span><span>Rua Exemplo, 123, Cidade, País</span>
    </mat-list-item>
</mat-list>